@import "tailwindcss";

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}

@theme {
  /* Custom Colors */
  --color-primary: #13ec5b;
  --color-background-dark: #101010;
  --color-card-dark: #181818;
  --color-border: #ffffff1a;
  --color-text-primary: #ffffff;
  --color-text-secondary: #ffffff99;
  --color-text-muted: #ffffffcc;
  --color-red: #ef4444;
  --color-yellow: #facc15;
  --color-success-bg: #13ec5b33;
  --color-hover-light: #ffffff0d;

  /* Custom Font Family */
  --font-display: "Space Grotesk", sans-serif;
}

/* Hide scrollbar globally */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* For Firefox */
* {
  scrollbar-width: none;
}

/* For Internet Explorer and Edge */
* {
  -ms-overflow-style: none;
}


